@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<Table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>SurName</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Cihat</td>
        <td>Delil</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Cagatay</td>
        <td>Delil</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Mücahit</td>
        <td>Delil</td>
    </tr>
</Table>

<input type="text" placeholder="Adınız"/>

<p>lorem10</p>

