
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
				<h3>Hakkımızada</h3>
				<p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. lacinia eget consectetur sed, convallis at tellus..</p>
				<div class="read">
					<a href="/About/Index/" class="btn btn-primary read-m">Devamını Oku</a>
				</div>
			</div>
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">

				@await Component.InvokeAsync("GetLast3Post")
			</div>
			<!-- subscribe -->
			<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">

				@await Html.PartialAsync("~/Views/NewsLatter/SubscribeMail.cshtml")
				<!-- //subscribe -->
			</div>
		</div>



	</div>
</footer>